*.pyc
*.p
*.pyo
.pyc
GroupLearning/__pycache__/*
GroupLearning/__pycache__/*
Learning/__pycache__/*
venv/Include/*
venv/Scripts/*
venv/tcl/*
venv/LICENSE.txt
venv/Lib/__pycache__/*
venv/Lib/collections
venv/Lib/distutils
venv/Lib/encodings
venv/Lib/importlib
venv/Lib/*.py
venv/Lib/*.txt
